<div class="body">
  <span *ngFor="let i of numbers">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste commodi in nobis, eveniet magnam omnis esse optio assumenda accusamus, aut fuga beatae ipsam ducimus error sit doloremque necessitatibus perspiciatis. Numquam?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet officiis aut minus architecto magnam consequatur, voluptas, eum eaque ipsum nobis obcaecati ad, quas ab quod iste earum nemo quidem aliquid.</p>
</span>
<app-bot></app-bot> 
</div>
