<!-- <section>

<div class="bot">
    <div id="main">
      <div><input id="input" type="text" placeholder="Say something..." autocomplete="off" [(ngModel)]='message' (keyup.enter)="sendMessage()"/></div>
      <div *ngFor="let item of messageArray">
        <span>{{item.name}}: </span> {{item.message}}
      </div>
   </div>
  </div>
</section> -->
<section> 
    <img src="../../assets/robot.png" class="botpic" (click)="showrobotdiv()">
        <div id="main" [hidden]="showChatDiv">
            <div class="row">
                <div class="upperdiv" #scrollFrame>
                    <span class="btn-bot">
                        <img src="../../assets/robot_chat.png" class="botchat">
                        <span class="bubble left">Welcome!how may I help</span>
                    </span>
                    <br>
                    <div *ngFor="let item of messageArray">
                        <br>
                        <span *ngIf="item.name == 'bot'" class="btn-bot">
                            <img src="../../assets/robot_chat.png" class="botchat">
                            <span class="bubble left">{{item.message}}</span>
                        </span><br>
                        <span *ngIf="item.name != 'bot'" class="btn-user">
                            <span class="bubble right">{{item.message}}</span>
                            <img src="../../assets/user_chat.png" class="botchat">
                        </span><br>
                    </div>
                    <br>
                    <div *ngFor="let item of messageArrayOptions">
                        <span>
                            <!-- <span class="btn" (click)="autoOptions(item.message)">{{item.message}}</span> -->
                           <button class="txtBtn"><span class="btn" (click)="autoOptions(item.message)">{{item.message}}</span>
                        </button>
                        </span>
                    
                    <br>
                    
                    </div>
                </div>

                <div class="bottomdiv">
                
                            <input id="input" type="text" placeholder="Type something..." autocomplete="off"
                                [(ngModel)]='message' (keyup.enter)="sendMessage()" />
                            <button (click)="sendMessage()"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                        
                </div>
            </div>
        </div>
</section>